
h1{
	text-align: center;
}
button{
	display: inline-block;
}
.red{
	background-color: red;
}
.cell{
	border: 1px solid blue;
	height: 9.5%;
	width: 9.5%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.show{
}
.marked{
	border-color: red;
}
#board .boom{
	float: right;
	margin-top: -60%;
	margin-right: 3%;
	border-radius: 50%;
	position: relative;
	border: 1px solid black;
}
#board .boom p{
	color: yellow;
	text-shadow: 
		-1px -1px 0 #000, 
		1px -1px 0 #000, 
		-1px 1px 0 #000, 
		1px 1px 0 #000;
	font-size: 1em;
}
#board{
	width: 90vw;
	height: 80vh;
	border: 1px solid green;
}
#board p{
	visibility: hidden;
}
#board .show p{
	visibility: visible;
}