
h1{
	text-align: center;
}
button{
	display: inline-block;
}
.red{
	background-color: red;
}
.cell{
	position: relative;
	border: 1px solid blue;
	vertical-align: middle;
	text-align: center;
	height: 6.8vh;
	width: 7vw;
}
.show{
}
.marked{
	border-color: red;
}
.win{
	position: absolute;
	top: 0px;
	left: 0px;
	margin-top: 25%;
	margin-left: 34%;
	width: 30%;
	height: 30%;
	text-align: center;
	font-size: 2em;
	background-color: white;
	border: 10px solid green;
}

#board .boom{
	/* 
	https://design.tutsplus.com/tutorials/quick-tip-how-to-create-a-cartoon-style-big-bang-explosion--vector-5223
	*/
	background-color: red;
	float: right;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0%;
	border-radius: 50%;
	position: absolute;
	border: 2px dotted darkred;
	box-shadow: 0px 0px 5px 10px darkred inset;
	transform: scale(2, 2);
	z-index: 100;
}
#board .boom p{
	color: yellow;
	text-shadow: 
		-1px -1px 0 #000, 
		1px -1px 0 #000, 
		-1px 1px 0 #000, 
		1px 1px 0 #000;
	font-size: 1em;
}
#board{
	position: absolute;
	table-layout: fixed;
	width: 70vw;
	height: 50vh;
	border: 1px solid green;
}
#board p{
	margin: 0px;
	visibility: hidden;
}
#board .show p{
	visibility: visible;
}